* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 0.9em;
}

body {
	font-family: "Ubuntu";
	color: #222;
}

nav {
	background: #555555;
	color: white;
}

code {
	padding: 1rem !important;
}

nav {
	margin: 0;
}

@media (min-width: 600px) {
	.left {
		float: left;
		width: 50%;
	}

	.right {
		float: right;
		width: 50%;
	}
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 1rem;
}

.center {
	text-align: center;
}

h1, h2 {
	margin-bottom: 1rem;
}

h1 {
	font-size: 5rem;
}

h2 {
	font-size: 4rem;
}

h3 {
	font-size: 3rem;
}

p {
	font-size: 1.7rem;
}
